@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto+Mono");

.App {
  background-color: yellow;
  background-image: url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aed342eea1c8593563be90e10c423dfe&auto=format&fit=crop&w=1639&q=80");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}
.calculator {
  /* height: 400px;
  width: 300px; */
  background-color: #2a3a6f;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: inset 0px 2px 20px 5px rgba(0, 0, 0, 0.705),
    2px 10px 50px 2px #2a3a6f;
}

#result-wrapper {
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;

  border-radius: 10px;
  height: 80px;
  border: solid black 2px;
  box-shadow: inset 2px 1px 5px 0px black;
  /* padding: 2px 5px 2px 5px; */
}

#display {
  color: white;
  background-color: transparent;
  text-align: right;
  font-size: 2.25em;
  font-family: "Roboto Mono", monospace;
  border-color: transparent;

  width: 320px;
  height: 1.5em;
}

#history {
  color: #eee;
  width: 100%;
  height: 1em;
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: "Roboto Mono", monospace;
}

#keypad {
  /* display: flex; */
  height: 100%;
  width: 300px;
  background-color: rgb(53, 108, 156);
  padding: 1px;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px black, inset 0 0 10px 1px rgb(82, 81, 81);
}

#digit-wrapper {
  display: inline;
  float: left;
  /* height: 75%; */
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: transparent;
}

button {
  font-family: "Righteous", cursive;
  font-size: 1.5em;
  color: #4d4d4e;
}

#op-wrapper {
  display: inline;
  float: right;
  width: 25%;
  /* height: 100%; */
  /* background-color: aquamarine; */
  text-align: center;
}
#mod-wrapper {
  display: inline-block;
  /* background: grey; */
  width: 75%;
  /* height: 100%; */
}

.btn-digits {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  border: solid black 1px;
  box-shadow: inset 2px 1px 20px 0px black;
}

#zero {
  width: 150px;
}

.btn-operators {
  width: 75px;
  height: 75px;
  background-color: rgb(199, 77, 40);
  color: antiquewhite;
  border-radius: 5px;
  border: solid black 2px;
  box-shadow: inset 2px 1px 20px 0px black;
}

.btn-modifiers {
  width: 75px;
  height: 75px;
  background-color: rgb(183, 199, 40);
  border-radius: 5px;
  border: solid black 2px;
  box-shadow: inset 2px 1px 20px 0px black;
}

#clear {
  font-size: 1.5em;
}

#backSpace {
  color: black;
  color: red;
  font-size: 1.2em;
}

.footer {
  font-family: "Righteous", cursive;
  width: 100%;
  font-size: 1.75em;
  margin-top: 40px;
  color: #2a3a6f;
  text-align: center;
  text-shadow: 0 2px 20px rgba(51, 51, 51, 0.514);
}
.socialLinks i {
  font-size: 1.25em;
  margin: 0px 10px;
  color: #2a3a6f;
}

.photoCredits {
  font-size: 0.5em;
  line-height: 5px;
  margin-top: 40px;
}
.photoCredits a {
  color: #f55d3e;
  text-decoration: none;
}
